/*--------------------------------------
All
--------------------------------------*/

*{
    font-family: 'Catamaran', sans-serif;
}

/*--------------------------------------
Header
--------------------------------------*/
.nav-link {
    display: block;
    width: 100px;
    padding: 0.5rem 1rem;
    text-decoration: none;

}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    background-color: #A3C1EF;
    color: #ffffff;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #000000;
}
/*--------------------------------------
Home
--------------------------------------*/

/*--------------------------------------
History
--------------------------------------*/

/*--------------------------------------
Service
--------------------------------------*/


/*--------------------------------------
Gallary
--------------------------------------*/

/*--------------------------------------
Footer
--------------------------------------*/